
 <!-- START HEADER -->
  <!-- START TOPBAR -->
    <div class="top-bar">
            <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <br>
                  </div>
              </div>
          </div>
      </div>
      <!-- END TOPBAR -->
      <!--START NAVBAR -->
      <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <%= link_to(image_tag("logo.jpg"), "index.html", :class=>"work") %>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class = <%= (current_page.path == 'index.html') ? 'active' : '' %> ><% link_to('index.html') do %>Home<% end %></li>
                        <li class = <%= (current_page.path == 'about.html') ? 'active' : '' %> ><% link_to('about.html') do %>About<% end %></li>      
                        <li class = <%= (current_page.path == 'hr_learning_and_development.html') ? 'active' : '' %>><% link_to('hr_learning_and_development.html') do %>HR Learning & Development<% end %></li>
                        <li class = <%= (current_page.path == 'education_and_training.html') ? 'active' : '' %>><% link_to('education_and_training.html') do %>Education & Training<% end %></li>
                        <li class = <%= (current_page.path == 'partner.html') ? 'active' : '' %> ><% link_to('partner.html') do %>Partners<% end %></li>
                        <li class = <%= (current_page.path == 'contact.html') ? 'active' : '' %> ><% link_to('contact.html') do %>Contact<% end %></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
        <!-- END NAVBAR -->
        <!-- END HEADER -->
