        <div class="page-head">
            <div class="container">
                <h2><strong><%= data.contentful['misc']['1ptS2iQPlCccUkcigcgiSA']['name'].split.first %></strong> <%= data.contentful['misc']['1ptS2iQPlCccUkcigcgiSA']['name'].split(' ')[1..-1].join(' ') %></h2>
            </div>
        </div>
        <div class="container meet-the-team">
        <p><%= data.contentful['misc']['1ptS2iQPlCccUkcigcgiSA']['description'] %></p>
            <% data.contentful.partner.each do |id, partner| %>
            <div class="row">           
                <div class="col-md-3 col-sm-6 person-col">
                    <div class="person-box">
                        <% url = partner['photograph'].nil? ? 'team1.jpg' : "http:" + partner['photograph']['url'] %>
                        <%= image_tag("#{url}", alt:"", class:"img-responsive") %>
                        <div class="person-overlay">
                            <h4><%= partner['firstname'] %> <%= partner['lastname'] %></h4>
                            <span><%= partner['position'] %></span>
                        </div>

                    </div>
                </div>
                <div>
                    <p class="col-md-12">
                        <%= partner['profile'] %> 
                    </p>
                </div>                
            </div>
            <% end %>
        </div>