        <div class="page-head">
            <div class="container">
                <h2><strong><%= data.contentful['misc']['1ptS2iQPlCccUkcigcgiSA']['name'].split.first %></strong> <%= data.contentful['misc']['1ptS2iQPlCccUkcigcgiSA']['name'].split(' ')[1..-1].join(' ') %></h2>
            </div>
        </div>
        <div class="container meet-the-team">
        <p><%= data.contentful['misc']['1ptS2iQPlCccUkcigcgiSA']['description'] %></p>
            <div class="row">
            <% data.contentful.partner.each do |id, partner| %>
                <div class="col-md-3 col-sm-6 person-col">
                    <div class="person-box">
                        <img src="images/team1.jpg" alt="" class="img-responsive">
                        <div class="person-overlay">
                            <h4><%= partner['firstname'] %> <%= partner['lastname'] %></h4>
                            <span>Position</span>
                        </div>

                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                    </p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                        <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                        <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                    </ul>
                </div>
                <% end %>
            </div>
        </div>