<div style="height: 30px"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Public Sector Training</h2>
            <ul>
                <li>
                    <h3><%= data.contentful.service['21DbhP1jMsskQQuSSMU2oW'][:type] %></h3>
                    <ul>
                        <li><%= data.contentful.service['lU2eQ6l7BQIwyUAWQsmYw'][:name] %></li>
                        <li><%= data.contentful.service['21DbhP1jMsskQQuSSMU2oW'][:name] %></li>
                    </ul>
                </li>
                <li>
                    <h3><%= data.contentful.service['44P3xpD8m4u0CG2mCy60y6'][:type] %></h3>
                    <ul>
                        <li><%= data.contentful.service['44P3xpD8m4u0CG2mCy60y6'][:name] %></li>
                        <li><%= data.contentful.service['i1o1vLJHe8KsC6qW2UmCu'][:name] %></li>
                        <li><%= data.contentful.service['57tjrPs4oM4WAKO2mmkAmG'][:name] %></li>
                        <li><%= data.contentful.service['7xNQhSGXjqwISKMiiGOC84'][:name] %></li>
                    </ul>
                </li>
                <li>
                    <h3><%= data.contentful.service['2HDoiUx3JeOaWuWiQ0oEaw'][:type]%></h3>
                    <ul>
                        <li><%= data.contentful.service['7IBnYtKAZaS8S64EC2MOYm'][:name] %></li>
                        <li><%= data.contentful.service['2HDoiUx3JeOaWuWiQ0oEaw'][:name] %></li>
                        <li><%= data.contentful.service['cBew28OXew2weIqG2Kucs'][:name] %></li>
                    </ul>
                </li>
                <li>
                    <h3><%= data.contentful.service['6FRuYGOd1uMm2gyyQEQ0me']['type'] %></h3>
                    <ul>
                        <li><%= data.contentful.service['6FRuYGOd1uMm2gyyQEQ0me'][:name] %></li>
                        <li><%= data.contentful.service['2l0QRHahuoYMC6mgyAOM8G'][:name] %></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<div style="height: 80px"></div>