<div style="height: 30px"></div>
<div class="container">
    <div class="row">
        <% @sectors.each do |s| %>
        <div class="col-md-8">
            <h3><%= "#{s}".humanize %> Sector Training</h3>
            <ul>
                <% @types.each do |t| %>
                <li>
                    <h2><%= "#{t}" %></h2>
                    <% @files.each do |m| %>
                    <% if  data.contentful.service["#{m}"]['type'] == "#{t}" %>
                        <% if data.contentful.service["#{m}"]['description'] %>
                            <% if data.contentful.service["#{m}"]['description'].to_s.length >= 350 %>
                                <ul>
                                <% s = data.contentful.service["#{m}"]['description'].to_s %>
                                    <% s.scan(/[^\.!?]+[\.!?]/).map(&:strip).each do |sentence|  %>
                                    <li><%= sentence %></li>
                                    <% end %>
                                </ul>
                            <% else %>
                        <ul>
                            <li>
                                <%= data.contentful.service["#{m}"]['name'] %>
                                <ul>
                                    <li>
                                        <%= data.contentful.service["#{m}"]['description'] %>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                            <%end %>
                        <% else %>
                        <ul>
                            <li><%= data.contentful.service["#{m}"]['name'] %></li>
                        </ul>
                        <% end %>
                    <% end %>
                    <% end %>
                </li>
                <% end %>
            </ul>
        </div>
        <% end %>
    </div>
</div>

<div style="height: 80px"></div>