<div class="skills-events">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h2 class="section-title"><strong><%= data.contentful.misc['1cAp0bshAm22AK4UQKUYoe']['name'].split.first %></strong> <%= data.contentful.misc['1cAp0bshAm22AK4UQKUYoe']['name'].split(' ')[1..-1].join(' ') %></h2>
                        <p><%= data.contentful.misc['1cAp0bshAm22AK4UQKUYoe']['description'] %></p>
                        <!-- progress-bar yellow red green blue -->
                        <% j = 1 %>
                        <% data.contentful.skill.each do |id, skill| %>
                        <div class="progress ">
                        <% if j == 1 %>
                            <div class="progress-bar  yellow" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= skill['percent'] %>%;">
                        <% elsif j == 2 %>
                            <div class="progress-bar  red" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= skill['percent'] %>%;">
                        <% elsif j == 3 %>

                            <div class="progress-bar  green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= skill['percent'] %>%;">
                        <% elsif j == 4 %>

                            <div class="progress-bar  blue" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= skill['percent'] %>%;">
                        <% else %>
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= skill['percent'] %>%;">
                        <% end %>
                                <%= skill['name'] %>
                            </div>
                        </div>
                        <% j += 1 %>
                        <% end %>
                    </div>
                    <div class="col-sm-6">
                        <h2 class="section-title"><strong>Campus</strong> events</h2> 
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="#">
                                    <img src="images/event1.jpg" class="img-responsive auto-img" alt="">
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <a href="#">
                                    <img src="images/event2.jpg" class="img-responsive auto-img" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>