        <div class="page-head">
            <div class="container">
                <h2>About us</h2>
            </div>
        </div>

        <div class="intro">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="section-title"><strong><%= data.contentful['misc']['1tUaRti6H6iim6McsuWiAm']['name'].split.first %></strong> <%= data.contentful['misc']['1tUaRti6H6iim6McsuWiAm']['name'].split(' ')[1..-1].join(' ') %></h2>
                        <p>
                    	  	<%= data.contentful['misc']['1tUaRti6H6iim6McsuWiAm']['description'] %>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                    <h2><%= data.contentful['misc']['2foW0qShSU04sm4k02UyUQ']['name'] %></h2>
                    <div style="height: 30px;"></div>
                        <p><%= data.contentful['misc']['2foW0qShSU04sm4k02UyUQ']['description'] %></p>
                    </div>
                    <div class="col-sm-5"><img src="images/cap.png" class="img-responsive auto-img" alt=""></div>
                </div>
            </div>
        </div>

        <div>
            <div class="container">
               <div class="row">
                <div class="col-sm-12">
                    <h2>
                        <%= data.contentful['misc']['4qAT3MWl2E8cA04SaCAgUw']['name'] %>
                    </h2>
                    <div style="height: 30px;"></div>
                    <p>
                         <%= data.contentful['misc']['4qAT3MWl2E8cA04SaCAgUw']['description'] %>
                    </p>
                </div>
               </div>
            </div>
        </div>
