
        <div class="banner">
            <div class='banner-inner'>
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <!--<h1>Education
                                for Better Future</h1> -->
                            <p>
                               <strong> Committed to the transformation of organisations, community and individual. </strong>
                            </p>
                            <p id="banner-box"><small>At Excelsis we are committed to making a difference in your world of performance, productivity and customer satisfaction.</small></p>
                            <li><% link_to('/service.html', { :class => 'btn btn-white btn-lg'}) do %>View Services<% end %></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <img src="images/cap.png" class="img-responsive auto-img" alt="">
                    </div>
                    <div class="col-sm-7">
                        <h2 class="section-title"><strong><%= data.contentful.misc['5EQFAxOOUoGwKwoqSsMWuw']['name'].split.first %></strong> <%= data.contentful.misc['5EQFAxOOUoGwKwoqSsMWuw']['name'].split(' ')[1..-1].join(' ') %></h2>
                        <p>
                            <%= data.contentful.misc['5EQFAxOOUoGwKwoqSsMWuw']['description'] %>
                        </p>
                        <% link_to('/contact.html', { :class => 'btn btn-gray'}) do %>Contact Us<% end %>
                    </div>
                </div>
            </div>
        </div>

        <div class="popular-sectors">
            <div class="container">
                <h2 class="section-title"><strong>Popular</strong> sectors</h2>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <i class="fa fa-money"></i>
                        <h3>Private</h3>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <i class="fa fa-medkit"></i>
                        <h3>Public</h3>
                    </div>
                </div>
            </div>
        </div>
        <%= partial "layouts/partials/testimonial" %>
        <div style="height: 100px;"></div>
		<%= partial "/layouts/partials/affiliate_company" %>
