    <div class="page-head">
            <div class="container">
                <h2>Our Services</h2>
            </div>
    </div>
   <div class="container">
       <div class="row">
            <div>
        <ul class="filter list-inline">
                    <li><a class="active" href="#" data-filter="*">Show All</a></li>
                    <li><a href="#" data-filter=".private">Private</a></li>
                    <li><a href="#" data-filter=".public">Public</a></li>

        </ul>
    <div id="services" class="row list-group iso-call">
        <% data.contentful.service.each do |id, service| %>
        <div class="item  col-xs-4 col-lg-4 list-group-item <%= service['sector'] %>">
            <div class="thumbnail">
                <!--<img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" /> -->
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        <%= service['type'] %></h4>
                    <p class="group inner list-group-item-text">
                        <%= service['description'] %></p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                <%= service['sector'] %></p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                           <p><%= service['name'] %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
    </div>

    </div>

       </div>
   </div>
