<section class="slice sct-color-2 bb">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="block style-7">                    
                    <div class="block-image">
                        <% partner2 = data.contentful.partner["mZQ3qdctAyeWQyemEegus"] %>
                        <% url = "http:" + partner2['photograph']['url']%>
                        <%= image_tag("#{url}", alt:"", class:"img-responsive") %>  
                    </div>
                    <div class="block-body">
                        <h3 class="block-title">
                            <span><%= partner2["firstname"]%> <%= partner2["lastname"]%></span>
                            <small><%= partner2["position"]%></small>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <p>
                    <span class="dropcap style-3 bg-base-1"><%= partner2["profile"][0] %></span>
                    <%= partner2["profile"][1..-1] %>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="slice sct-color-1">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="block style-7">                    
                    <div class="block-image">
                        <% partner3 = data.contentful.partner["3frmwPIZSE04oA2oge2cES"] %>
                        <% url = "http:" + partner3['photograph']['url']%>
                        <%= image_tag("#{url}", alt:"", class:"img-responsive") %>  
                    </div>
                    <div class="block-body">
                        <h3 class="block-title">
                            <span><%= partner3["firstname"]%> <%= partner3["lastname"]%></span>
                            <small><%= partner3["position"] %></small>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <p>
                    <span class="dropcap style-3 bg-base-1"><%= partner3["profile"][0] %></span>
                     <%= partner3["profile"][1..-1] %>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="slice sct-color-2 bb">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="block style-7">
                    <div class="block-image">
                        <% partner1 = data.contentful.partner["3gramsNAmcmOiWeYeQEUGA"] %>
                        <% url = "http:" + partner1['photograph']['url']%>
                        <%= image_tag("#{url}", alt:"", class:"img-responsive") %>  
                    </div>
                    <div class="block-body">
                        <h3 class="block-title">
                            <span><%= partner1["firstname"]%> <%= partner1["lastname"]%></span>
                            <small><%= partner1["position"]%></small>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <p>
                    <span class="dropcap style-3 bg-base-1"> <%= partner1["profile"][0] %></span>
                    <%= partner1["profile"][1..-1] %>
                </p>
            </div>
        </div>
    </div>
</section>